main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardNav {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #464646;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1136px;
  justify-content: space-between;
  margin: 20px 0;
}
.cardNavLink {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  color: #2a7ae4;
}
.card {
}
.cardImg {
  width: 176px;
  height: 174px;
}
.cardTitulo {
  position: static;
  width: 176px;
  height: 16px;
  left: 0px;
  top: 182px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.cardPrecio {
  position: static;
  width: 176px;
  height: 19px;
  left: 0px;
  top: 206px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.cardLink {
  position: static;
  width: 100px;
  height: 19px;
  left: 0px;
  top: 233px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2a7ae4;
}
.cardStarWars,
.cardConsolas,
.cardDiversos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
/* Login */
.mainLogin,
.mainProducto, .mainAgregarProducto {
  background-color: #f5f5f5;
  width: 1440px;
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
}
.formLogin h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #464646;
  margin: 15px;
}
.formLogin input {
  width: 423px;
  height: 63.13px;
  left: calc(50% - 423px / 2 - 0.5px);
  top: 259.89px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  margin: 15px;
}
.formLogin button,  {
  width: 423px;
  height: 63.13px;
  background: #2a7ae4;
  color: #ffffff;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
/* Producto */

.cardProducto {
  display: flex;
  margin: 64px;
  gap: 15px;
}
.imgProducto {
  width: 560px;
  height: 403px;
  background: url(../img/card/cardStarWars/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.descProducto {
  width: 50%;
}

/* Producto */
.cardNav .btnBlu {
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
}
.mainProductos {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
/* Agregar Producto */
.formAgregarProducto{
  display: grid;
  margin:100px;
  
}
.btnAncho{
  
  height: 63.13px;
  background: #2a7ae4;
  color: #ffffff;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* width: 83%; */
}
.contenedorDrag{
  display: flex;
  align-items: center;
}
.imgDragDrop{
  width: 301px;
  height: 152px;
  background-image: url(../img/dragAndDrop.jpg);
  background-size: contain;
  margin: 10px;
}
.formAgregarProducto .btnLogin{
  padding: 20px 5px;
}